# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host: 127.0.0.1
    database_port: ~
    database_name: symfony
    database_user: root
    database_password: ~
    # You should uncomment this if you want to use pdo_sqlite
    #database_path: '%kernel.project_dir%/var/data/data.sqlite'

    # Settings to upgrade an old database to a new one
    old_database_host: 127.0.0.1
    old_database_port: ~
    old_database_name: symfony
    old_database_user: root
    old_database_password: ~

    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: ~
    mailer_password: ~

    # A secret key that's used to generate certain security-related tokens
    secret: ThisTokenIsNotSoSecretChangeIt

    # routing and session configuration.
    router.request_context.host: localhost
    router.request_context.scheme: http
    router.request_context.base_url: /pkppln2/web/app_dev.php
    secure_cookies: false

    # should the staging server accept deposits?
    pln.accepting: false

    # processing directory. Paths are absolute or relative to the project directory.
    pln.data_dir: data

    # messages to send to journals.
    pln.network_default: The PKP PLN does not know about this journal yet.
    pln.network_accepting: The PKP PLN can accept deposits from this journal.
    pln.network_oldojs: This journal must be running OJS 2.4.8 to make deposits to the PKP PLN.

    # Minimum OJS version:
    pln.min_ojs_version: 2.4.8.0

    # OJS Versions to hold deposits for.
    pln.held_versions: ~

    # Maximum file upload size in 1000-byte kb.
    pln.max_upload: 10000

    # checksum algorithm to use when verifying integrity.
    pln.checksum_type: SHA-1

    # Stop trying to harvest after pln.maxHarvestAttempts failures.
    pln.max_harvest_attepmts: 5

    # Path to the ClamAV socket
    pln.clamd_socket: /tmp/clamd.socket

    # Sword client config
    pln.service_uri: http://localhost/locossomatic/api/sword/2.0/sd-iri
    pln.save_deposit_xml: false
    pln.remove_completed_deposits: false
    pln.journalTitle: 'PKP PLN Deposits'
    pln.uuid: ~
