{% extends 'base.html.twig' %}

{% block body %}
    <p>
        Your application is now ready. You can start working on it at:
        <code>{{ base_dir }}</code>.
    </p>

    <p>The service document URL is <a href="{{ url('sword_service_document') }}">{{ url('sword_service_document') }}</a>.</p>
{% endblock %}
